Source: shell-api
Maintainer: Michel Mehl <michel.mehl@slashetc.fr>
Section: misc
Priority: optional
Standards-Version: 4.7.0
Build-Depends: debhelper-compat (= 13)

Package: shell-api
Homepage: https://github.com/michelm33/shell-api
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Bash shell API
 Bash shell API